<header id="header">
    <span id="header-left">
        {%- assign url = page.url | remove_first: "/" | split: "/" -%}
        <a href="/">..</a>/
        {%- for url_component in url -%}
            {%- assign href = href | append: "/" | append: url_component -%}
            {%- unless forloop.last -%}
        <a href="{{ href }}">{{ url_component }}</a>/
            {%- endunless -%}
        {%- endfor -%}
        {{ url.last}}
    </span>
    <span id="header-right">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    </span>
</header>
