<header id="header">
    <span id="header-left">
    {%- if page.name == "index.html" -%}~{%- else %}
        <a href="/">~</a>/
        {%- assign url = page.url | remove_first: "/" | split: "/" %}
        {%- for url_component in url -%}
            {%- assign href = href | append: "/" | append: url_component -%}
            {%- unless forloop.last -%}
        <a href="{{ href }}">{{ url_component }}</a>/
            {%- endunless -%}
        {%- endfor -%}
        {{ url.last}}
    {%- endif %}
    </span>
    {%- if page.id %}
    <span id="header-right">
        {%- if page.last_modified %}
        [<a href="https://github.com/UserNombre/usernombre.github.io/commits/main/{{ page.path }}">*</a>]
        {%- endif %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    </span>
    {%- endif %}
</header>
