// H=0 (RYB)
// H=0 (RGB)
// http://paletton.com/#uid=5000u0kcglL4Zvw8Eq6eXhmkwen

$theme-hue: 0deg;

$theme-colors: (
    color-primary-0: #AD6B6B,
    color-primary-1: #FBD4D4,
    color-primary-2: #D09898,
    color-primary-3: #8A4A4A,
    color-primary-4: #722929,

    color-secondary-1-0: #AD896B,
    color-secondary-1-1: #FBE6D4,
    color-secondary-1-2: #D0B198,
    color-secondary-1-3: #8A674A,
    color-secondary-1-4: #724A29,

    color-secondary-2-0: #8B5674,
    color-secondary-2-1: #C9AABC,
    color-secondary-2-2: #A77A93,
    color-secondary-2-3: #6F3B58,
    color-secondary-2-4: #5C2142,
);

$theme-secondary: 2;
