$color-white: #fff;
$color-black: #000;
$color-gray-darkest: lighten($color-black, 5%);
$color-gray-dark: lighten($color-black, 15%);
$color-gray-light: lighten($color-black, 25%);
$color-gray-lightest: lighten($color-black, 40%);

$color-foreground: $color-white;
$color-background: $color-gray-darkest;

$color-primary: map-get($theme-colors, "color-primary-0");
$color-primary-lightest: map-get($theme-colors, "color-primary-1");
$color-primary-light: map-get($theme-colors, "color-primary-2");
$color-primary-darkest: map-get($theme-colors, "color-primary-3");
$color-primary-dark: map-get($theme-colors, "color-primary-4");

$color-secondary: map-get($theme-colors, "color-secondary-#{$theme-secondary}-0");
$color-secondary-lightest: map-get($theme-colors, "color-secondary-#{$theme-secondary}-1");
$color-secondary-light: map-get($theme-colors, "color-secondary-#{$theme-secondary}-2");
$color-secondary-darkest: map-get($theme-colors, "color-secondary-#{$theme-secondary}-3");
$color-secondary-dark: map-get($theme-colors, "color-secondary-#{$theme-secondary}-4");
