body {
    color: $color-foreground;
    background: $color-background;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

main {
    margin: 4em auto;
    max-width: 70%;
}

article {
    overflow-wrap: break-word;
}

code {
    font-family: Consolas, monospace;
}

a {
    color: $color-primary-light;
}

a:hover {
    color: $color-background;
    background: $color-primary;
}

a:active {
    color: $color-foreground;
    background: $color-primary;
}

*:target {
    color: $color-background;
    background: $color-primary-dark;
}

*::selection {
    background: $color-secondary;
}

// The 'background' does not apply to '::marker' https://drafts.csswg.org/css-lists-3/#marker-properties
// Force its color to foreground so it's still readable when affected by '*:target'
::marker {
    color: $color-foreground;
}

#title {
    &:before {
        content: "> ";
        animation: blink 1s step-start 0s infinite;
        font-family: Consolas, monospace;
    }
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
