body {
    color: $color-foreground;
    background: $color-background;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

main {
    margin: 4em auto;
    max-width: 70%;
}

article {
    overflow-wrap: break-word;
}

code {
    font-family: Consolas, monospace;
}

// https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/token.rb
.highlight {
    // :Name
    .n, .na, .nb, .bp, .nc, .no, .nd, .ni, .ne, .nf, .fm, .py, .nl, .nn, .nx, .nt, .nv, .vc, .vg, .vi, .vm {
        color: $color-secondary-dark;
    }
    // :Literal
    .l, .ld, .s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
        color: $color-primary;
    }
}

// Prevent default margin from interefering with padding
pre {
    margin: 0;
}

code.highlighter-rouge {
    padding: 2px;
    border-radius: 6px;
    background-color: $color-gray-light;
}

div.highlighter-rouge {
    padding: 8px;
    border-radius: 6px;
    background-color: $color-gray-dark;
}

a {
    color: $color-primary-light;
}

a:hover {
    color: $color-background;
    background: $color-primary;
}

a:active {
    color: $color-foreground;
    background: $color-primary;
}

*:target {
    color: $color-background;
    background: $color-primary-dark;
}

*::selection {
    background: $color-secondary;
}

// The 'background' does not apply to '::marker' https://drafts.csswg.org/css-lists-3/#marker-properties
// Force its color to foreground so it's still readable when affected by '*:target'
::marker {
    color: $color-foreground;
}

#title {
    &:before {
        content: "> ";
        animation: blink 1s step-start 0s infinite;
        font-family: Consolas, monospace;
    }
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
