#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: $color-secondary-dark;
    font-family: $font-monospace, monospace;
}

#header-left {
    margin: 0.1em;
    text-align: left;
}

#header-right {
    margin: 0.1em;
    text-align: right;
}
