html {
    // Exclude header from the scrollport
    scroll-padding-top: 40px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: $color-secondary-dark;
    font-family: Consolas, monospace;
}

#header-left {
    margin: 2px;
    text-align: left;
}

#header-right {
    margin: 2px;
    text-align: right;
}
