// https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/token.rb
.highlight {
    // :Text
    .w {
        user-select: none;
    }
    // :Name
    .n, .na, .nb, .bp, .nc, .no, .nd, .ni, .ne, .nf, .fm, .py, .nl, .nn, .nx, .nt, .nv, .vc, .vg, .vi, .vm {
        color: $color-secondary;
    }
    // :Literal
    .l, .ld, .s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
        color: $color-primary;
    }
    // :Comment
    .c, .ch, .cd, .cm, .c1, .cs {
        color: $color-gray-lightest;
    }
    .cp, {
        color: $color-secondary;
    }
    .cpf {
        color: $color-primary;
    }
    // :Generic
    .gp {
        color: $color-primary;
        user-select: none;
    }
    .go {
        // FIXME: use a color diffrent from that of cursor selection
        color: $color-gray-lightest;
    }
}

// Prevent default margin from interefering with padding
pre {
    margin: 0;
}

code.highlighter-rouge {
    padding: 2px;
    border-radius: 6px;
    background-color: $color-gray-light;
}

div.highlighter-rouge {
    overflow: auto;
    padding: 8px;
    border: 1px solid $color-gray-light;
    border-radius: 6px;
    background-color: $color-gray-dark;
}
