// H=90 (RYB)
// http://paletton.com/#uid=51q0u0kl1Wx1x+IcEXDsUWkWEVB

$theme-colors: (
    color-primary-0: #FFE258,
    color-primary-1: #FFFDF3,
    color-primary-2: #FFEE9A,
    color-primary-3: #FFD719,
    color-primary-4: #FFD300,

    color-secondary-1-0: #FFFF58,
    color-secondary-1-1: #FFFFF3,
    color-secondary-1-2: #FFFF9A,
    color-secondary-1-3: #FFFF19,
    color-secondary-1-4: #FFFF00,

    color-secondary-2-0: #FFC758,
    color-secondary-2-1: #FFFBF3,
    color-secondary-2-2: #FFDD9A,
    color-secondary-2-3: #FFB219,
    color-secondary-2-4: #FFAA00,
);

$theme-secondary: 2;
