$gray-saturation: 10% !default;
$color-gray-selection: hsl($theme-hue, $gray-saturation, 50%);
$color-gray-lightest: hsl($theme-hue, $gray-saturation, 40%);
$color-gray-light: hsl($theme-hue, $gray-saturation, 30%);
$color-gray-dark: hsl($theme-hue, $gray-saturation, 15%);
$color-gray-darkest: hsl($theme-hue, $gray-saturation, 5%);
$color-white: #fff;
$color-black: #000;

$color-foreground: $color-white;
$color-background: $color-gray-darkest;

$color-primary: map-get($theme-colors, "color-primary-0");
$color-primary-lightest: map-get($theme-colors, "color-primary-1");
$color-primary-light: map-get($theme-colors, "color-primary-2");
$color-primary-darkest: map-get($theme-colors, "color-primary-3");
$color-primary-dark: map-get($theme-colors, "color-primary-4");

$color-secondary: map-get($theme-colors, "color-secondary-#{$theme-secondary}-0");
$color-secondary-lightest: map-get($theme-colors, "color-secondary-#{$theme-secondary}-1");
$color-secondary-light: map-get($theme-colors, "color-secondary-#{$theme-secondary}-2");
$color-secondary-darkest: map-get($theme-colors, "color-secondary-#{$theme-secondary}-3");
$color-secondary-dark: map-get($theme-colors, "color-secondary-#{$theme-secondary}-4");

$font-sans-serif: "Chakra Petch";
$font-monospace: "Inconsolata";
