// H=270 (RYB)
// https://paletton.com/#uid=54e0u0kaVz84jP27qHbeJtFiHpX

$theme-colors: (
    color-primary-0: #8D80B7,
    color-primary-1: #CDC7E1,
    color-primary-2: #AEA4CE,
    color-primary-3: #7060A3,
    color-primary-4: #56458E,

    color-secondary-1-0: #9E79B3,
    color-secondary-1-1: #D5C3DF,
    color-secondary-1-2: #BB9ECB,
    color-secondary-1-3: #85599E,
    color-secondary-1-4: #6F3E8A,

    color-secondary-2-0: #7C8DB3,
    color-secondary-2-1: #C5CDE0,
    color-secondary-2-2: #A1AECB,
    color-secondary-2-3: #5D719E,
    color-secondary-2-4: #42588B,
);

$theme-secondary: 2;
